{% extends 'mobile/base.html' %}
{% load url from future %}
{% load i18n %}

{% block body %}
	<div id="main-page" data-role="page">
		<div data-role="header" data-position="fixed">
			<a href="#tool-widget" data-role="button" data-rel="dialog">Tool</a>
			<h1>GalTrace</h1>
			<a href="#search-widget" data-role="button" data-rel="dialog">Search</a>
		</div>
		<div data-role="content">
			<ul id="orders" data-role="listview" data-inset="true" data-filter="true">
			</ul>
		</div>
		<div data-role="footer" data-id="phases" data-position="fixed">
			<div data-role="navbar">
				<ul>
					{% for phase in phases %}
						<li><a data-value="{{ phase.0 }}" class="phase-filter" href="#">{{ phase.1 }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div id="order-page" data-role="dialog">
		<div data-role="header" data-position="fixed">
			<a href="#main-page" data-role="button" data-rel="page">Back</a>
			<h1 id="order-title"></h1>
		</div>
		<div data-role="content">
			<ul data-role="listview" data-inset="true">
				<li id="order-vendor"></li>
				<li id="order-date"></li>
			</ul>
		</div>
	</div>
	<div id="tool-widget" data-role="page">
		<div data-role="header">
			<h1>Tool</h1>
		</div>
		<div data-role="content">
			<a href="#" data-role="button">Insert</a>
			<a href="{% url 'galtrace.apps.shell.views.auth' %}" data-role="button" data-ajax="false">Sign Out</a>
		</div>
	</div>
	<div id="search-widget" data-role="page">
		<div data-role="header">
			<h1>Search</h1>
		</div>
		<div data-role="content">
			<input type="text" placeholder="Title or Vendor" />
			<a href="#" data-role="button">Search</a>
		</div>
	</div>
	<div id="insert-widget" data-role="page">
		<div data-role="header">
			<h1>Insert</h1>
		</div>
		<div data-role="content">
			<form id="stdin" action=".">
				<fieldset>
					{% for field in form %}
						<div data-role="fieldcontain" class="ui-hide-label">
							<label for="id_{{ field.html_name }}">{{ field.label }}</label>
							{{ field }}
						</div>
					{% endfor %}
					<input type="hidden" id="id_volume" name="volume" value="-1" />
					<div>
						<button type="button" id="fetch" class="btn btn-info">Fetch</button>
						<button type="reset" class="btn btn-warning">Reset</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
	<script type="text/javascript" src="{% url 'galtrace.apps.shell.views.csrf' %}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/model.js"></script>
	<script type="text/javascript" src="{% url 'galtrace.apps.shell.views.urls' %}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/view.mobile.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/read.mobile.js"></script>
{% endblock %}
