{% load url from future %}
{% load static from staticfiles %}
{% load less_proxy %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GalTrace</title>
		{% block head %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
			<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
			{% less_file 'css/style.less' %}
			{% less_script 'js/less.min.js' %}
		{% endblock %}
	</head>
	<body>
		<div id="page-head" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="#" class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="{% url 'galtrace.apps.frontend.views.index' %}" class="brand">GalTrace</a>
					<div class="nav-collapse">
						{% block navbar %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div id="page-body" class="container">
			{% block body %}
			{% endblock %}
			<hr />
			<footer id="page-foot">
			</footer>
		</div>
		{% block footer %}
		{% endblock %}
	</body>
</html>
