{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}

{% block head %}
	<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
	{{ block.super }}
	<script type="text/template" id="order-template">
		<td class="title"><span title="<%= title %>"><%= title %></span></td>
		<td><span><%= phase %></span></td>
		<td><a href="#" class="search"><i class="icon-search"></i></a></td>
		<td><a class="uri" href="<%= uri %>" rel="external"><i class="icon-link"></i></a></td>
		<td class="vendor">
			<span class="inline-label" title="<%= vendor %>"><%= vendor %></span>
			<input type="text" class="inline-edit" value="<%= vendor %>" />
		</td>
		<td class="date">
			<span class="inline-label"><%= date %></span>
			<input type="text" class="inline-edit" value="<%= date %>" />
		</td>
	</script>
{% endblock %}

{% block navbar %}
	<ul class="nav">
		<li class="divider-vertical"></li>
	</ul>
	<ul id="phases" class="nav">
		{% for phase in phases %}
			<li data-value="{{ phase.0 }}"><a href="#">{{ phase.1 }}</a></li>
		{% endfor %}
	</ul>
	<div>
		<form action="" class="navbar-search">
			<input type="text" class="search-query" id="query-string" placeholder="Search" />
		</form>
	</div>
	<ul class="nav pull-right">
		<li class="navbar-text">
			<span id="current-orders"></span>
			<span>&nbsp;/&nbsp;</span>
			<span id="total-orders"></span>
		</li>
		<li class="divider-vertical"></li>
		{% if user.is_authtenticated %}
			<li><a href="{% url 'galtrace.apps.frontend.views.auth' %}?next={{ request.path }}">Sign Out</a></li>
		{% else %}
			<li><a href="{% url 'galtrace.apps.frontend.views.index' %}">Sign In</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Title</th>
				<th>&nbsp;</th>
				<th><i class="icon-search"></i></th>
				<th><i class="icon-link"></i></th>
				<th>Vendor</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody id="orders">
		</tbody>
	</table>
{% endblock %}

{% block footer %}
	<div id="search-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Google Search Result</h3>
		</div>
		<div class="modal-body">
			<div id="cse"></div>
		</div>
	</div>
	<div id="stderr">
		<div class="alert alert-error">
			<a class="close" href="#">&times;</a>
			<p>
				<strong id="error-title"></strong>
				<span id="error-message"></span>
			</p>
		</div>
	</div>
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% url 'galtrace.apps.frontend.views.csrf' %}"></script>
	<script type="text/javascript" src="{% static 'js/model.js' %}"></script>
	<script type="text/javascript" src="{% url 'galtrace.apps.frontend.views.urls' %}"></script>
	<script type="text/javascript" src="{% static 'js/view.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/read.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/write.js' %}"></script>
{% endblock %}
