@media ( min-width: 481px ) {
	body {
		padding-top: 60px;
	}
}

#stderr {
	position: fixed;
	z-index: 1045;	/* between dialog and background */
	top: 60px;
	left: 50%;
	width: 560px;	/* dialog width */
	margin-left: -280px;	/* centralize */
	display: none;
}

footer p {
	text-align: center;
}

/* Override for Google CSE */

.gsc-control-cse, .gsc-result-info {
	padding: 0px;
}

.gsc-resultsbox-visible {
	overflow: auto;
	max-height: 390px;
}

form.gsc-search-box, .gsc-adBlock {
	display: none;
}

.inline-editor ( @width ) {
	overflow: hidden;
	white-space: nowrap;
	width: @width;

	span.inline-label {
		display: inline-block;
		width: @width;
	}
	input.inline-edit {
		display: none;
	}
	&.editing {
		span.inline-label {
			display: none;
		}
		input.inline-edit {
			display: inline-block;
			margin-bottom: 0;
			border-width: 0;
			padding: 0;
			width: @width;
		}
	}
}

.hidden {
	display: none;
}

#orders {
	@total_width: 1170px;
	@width: @total_width / 6;

	div.orders {
		float: left;
		width: @width;
		height: 300px;
		text-align: center;
	}
	/*
	td.title {
		@width: 1170px - ( 29px ) * 4 - 217px - 117px - 17px;
		overflow: hidden;
		white-space: nowrap;
		width: @width;
		span {
			display: inline-block;
			width: @width;
		}
	}
	td.vendor {
		.inline-editor( 200px );
	}
	td.date {
		.inline-editor( 100px );
	}
	*/
}
