@media ( min-width: 481px ) {
	body {
		padding-top: 60px;
	}
}

td.vendor input, td.date input {
	display: none;
}

#stderr {
	position: fixed;
	z-index: 1045;	/* between dialog and background */
	top: 60px;
	left: 50%;
	width: 560px;	/* dialog width */
	margin-left: -280px;	/* centralize */
	display: none;
}

footer p {
	text-align: center;
}

/* Override for Google CSE */

.gsc-control-cse, .gsc-result-info {
	padding: 0px;
}

.gsc-resultsbox-visible {
	overflow: auto;
	max-height: 390px;
}

form.gsc-search-box, .gsc-adBlock {
	display: none;
}

#orders td.date {
	width: 100px;
}

#orders td.date span.inline-label {
	display: inline-block;
	width: 100px;
}

#orders td.date.editing input.inline-edit {
	display: inline-block;
	width: 100px;
	margin: 0;
}

#orders td.vendor {
	width: 200px;
}

#orders td.vendor span.inline-label {
	display: inline-block;
	width: 200px;
}

#orders td.vendor.editing input.inline-edit {
	display: inline-block;
	width: 200px;
	margin: 0;
}

#orders td input.inline-edit {
	display: none;
}

#orders td.editing span.inline-label {
	display: none;
}
