{% extends 'base.html' %}
{% load i18n %}

{% block head %}
	<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
	{{ block.super }}
{% endblock %}

{% block navbar %}
	<ul class="nav">
		<li class="divider-vertical"></li>
		<li><a href="#insert-modal" data-toggle="modal">Insert</a></li>
		<li class="dropdown" id="move-menu">
			<a href="#move-menu" class="dropdown-toggle" data-toggle="dropdown">Move<b class="caret"></b></a>
			<ul class="dropdown-menu" id="control-panel">
				{% for phase in phases %}
					<li><a href="#" data-phase="{{ phase.0 }}">{{ phase.1 }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li class="dropdown" id="data-menu">
			<a href="#data-menu" class="dropdown-toggle" data-toggle="dropdown">Data<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" id="button-delete">Delete</a></li>
				<li><a href="{% url kernel.views.backup %}">Backup</a></li>
				<li><a href="#restore-modal" data-toggle="modal">Restore</a></li>
			</ul>
		</li>
		<li class="divider-vertical"></li>
		{% for phase in phases %}
			<li data-value="{{ phase.0 }}" class="phase-filter"><a href="#">{{ phase.1 }}</a></li>
		{% endfor %}
		<form action="" class="navbar-search">
			<input type="text" class="search-query" id="search" placeholder="Search" />
		</form>
	</ul>
	<ul class="nav pull-right">
		<li><a href="{% url kernel.views.auth %}">Sign Out</a></li>
	</ul>
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<td><input type="checkbox" id="select-all" value="noa" /></td>
				<th>Title</th>
				<th>Link</th>
				<th>Vendor</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody id="cart">
		</tbody>
	</table>
{% endblock %}

{% block footer %}
	<div id="search-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Google Search Result</h3>
		</div>
		<div class="modal-body">
			<div id="cse"></div>
		</div>
	</div>
	<div id="insert-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Insert</h3>
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" id="stdin" action=".">
				<fieldset>
					{% for field in form %}
						<div class="control-group">
							<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
							<div class="controls">
								{{ field }}
								<p class="help-block">
									{{ field.help_text }}
								</p>
							</div>
						</div>
					{% endfor %}
					<input type="hidden" id="id_volume" name="volume" value="-1" />
					<div class="form-actions">
						<button type="button" id="fetch" class="btn btn-info">Fetch</button>
						<button type="reset" class="btn btn-warning">Reset</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div id="restore-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Restore</h3>
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" id="restore" enctype="multipart/form-data" method="post" action="{% url kernel.views.restore %}">
				<fieldset>
					{% for field in restoreForm %}
						<div class="control-group">
							<label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
							<div class="controls">
								{{ field }}
								<p class="help-block">
									{{ field.help_text }}
								</p>
							</div>
						</div>
					{% endfor %}
					{% csrf_token %}
					<div class="form-actions">
						<button type="reset" class="btn btn-warning">Reset</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div id="stderr">
		<div class="alert alert-error">
			<a class="close" href="#">&times;</a>
			<p>
				<strong id="error-title"></strong>
				<span id="error-message"></span>
			</p>
		</div>
	</div>
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
	<script type="text/javascript" src="{% url kernel.views.csrf %}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cart-read.js"></script>
	<script type="text/javascript" src="{% url kernel.views.urls %}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cart-write.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}action-read.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}action-write.js"></script>
{% endblock %}
