<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
		<title>GalTrace</title>
		{% block head %}
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css" />
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-responsive.min.css" />
		{% endblock %}
	</head>
	<body>
		<div id="page-head" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="#" class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a href="{% url main.views.index %}" class="brand">GalTrace</a>
					<div class="nav-collapse">
						{% block navbar %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div id="page-body" class="container">
			{% block body %}
			{% endblock %}
			<hr />
			<footer id="page-foot">
			</footer>
		</div>
		{% block footer %}
		{% endblock %}
	</body>
</html>
