<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GalTrace</title>
		<!-- BEGIN Google CSE -->
		<script src="https://www.google.com/jsapi" type="text/javascript"></script>
		<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
		<!-- END Google CSE -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
	</head>
	<body>
		{% if user.is_authenticated %}
			{% include 'self.html' %}
		{% else %}
			{% include 'login.html' %}
		{% endif %}
	</body>
</html>
