{% extends 'base.html' %}
{% load i18n %}

{% block navbar %}
	<ul class="nav">
		<li class="divider-vertical"></li>
		<li><a href="#insert-modal" data-toggle="modal">Insert</a></li>
		<li class="dropdown" id="move-menu">
			<a href="#move-menu" class="dropdown-toggle" data-toggle="dropdown">Move<b class="caret"></b></a>
			<ul class="dropdown-menu" id="control-panel">
				{% for phase in phases %}
					<li><a href="#" data-phase="{{ phase.0 }}">{{ phase.1 }}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li class="dropdown" id="data-menu">
			<a href="#data-menu" class="dropdown-toggle" data-toggle="dropdown">Data<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#" id="button-delete">Delete</a></li>
				<li><a href="/backup.cgi">Dump</a></li>
				<li><a href="#restore-modal" data-toggle="modal">Restore</a></li>
			</ul>
		</li>
		<li class="divider-vertical"></li>
		{% for phase in phases %}
			<li data-value="{{ phase.0 }}" class="phase-filter"><a href="#">{{ phase.1 }}</a></li>
		{% endfor %}
		<form action="" class="navbar-search">
			<input type="text" class="search-query" id="search" placeholder="Search" />
		</form>
	</ul>
	<ul class="nav pull-right">
		<li><a href="/auth.cgi">Sign Out</a></li>
	</ul>
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<td><input type="checkbox" id="select-all" value="noa" /></td>
				<th>Title</th>
				<th>Link</th>
				<th>Vendor</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody id="cart">
			{% for item in items %}
				<tr data-phase="{{ item.phase }}">
					<td><input type="checkbox" class="check" /></td>
					<td class="title">{{ item.title }}</td>
					<td><a rel="external" href="{{ item.uri }}">Link</a></td>
					<td class="vendor">
						<span>{{ item.vendor }}</span>
						<input type="text" />
					</td>
					<td class="date">
						<span>{{ item.date }}</span>
						<input type="text" />
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block footer %}
	<div id="search-dialog" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">close</a>
			<h3>Google Search Result</h3>
		</div>
		<div class="modal-body">
			<div id="cse"></div>
		</div>
	</div>
	<div id="insert-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Insert</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" id="stdin" action=".">
				<fieldset>
					<div class="control-group">
						{{ form.uri.label_tag }}
						<div class="controls">
							{{ form.uri }}
							<p class="help-block">
								{{ form.uri.help_text }}
							</p>
						</div>
					</div>
					<div class="control-group">
						{{ form.title.label_tag }}
						<div class="controls">
							{{ form.title }}
							<p class="help-block">
								{{ form.title.help_text }}
							</p>
						</div>
					</div>
					<div class="control-group">
						{{ form.vendor.label_tag }}
						<div class="controls">
							{{ form.vendor }}
							<p class="help-block">
								{{ form.vendor.help_text }}
							</p>
						</div>
					</div>
					<div class="control-group">
						{{ form.date.label_tag }}
						<div class="controls">
							{{ form.date }}
							<p class="help-block">
								{{ form.date.help_text }}
							</p>
						</div>
					</div>
					<div class="control-group">
						{{ form.phase.label_tag }}
						<div class="controls">
							{{ form.phase }}
							<p class="help-block">
								{{ form.phase.help_text }}
							</p>
						</div>
					</div>
					<input type="hidden" id="id_volume" name="volume" value="-1" />
					<div class="form-actions">
						<button type="button" id="fetch" class="btn">Fetch</button>
						<button type="reset" class="btn">Reset</button>
						<button type="submit" class="btn primary">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div id="restore-modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Restore</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" id="restore" enctype="multipart/form-data" method="post" action="/restore.cgi">
				<fieldset>
					<div class="control-group">
						{{ restoreForm.data.label_tag }}
						<div class="controls">
							{{ restoreForm.data }}
							<p class="help-block">
								{{ restoreForm.data.help_text }}
							</p>
						</div>
					</div>
					{% csrf_token %}
					<div class="form-actions">
						<button type="reset" class="btn">Reset</button>
						<button type="submit" class="btn primary">Submit</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
	<script type="text/javascript" src="/csrf.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cart-read.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}action-read.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cart-write.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}action-write.js"></script>
{% endblock %}
